* {
    padding: 0%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}



/* window styles */
.UI {
    margin-top: 20px;
    width: 550px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 20px;
    background-color: #233142;
}

header {
    width: 100%;
    height: 50px;
    background-color:   #903749;
    margin-bottom: 20px;
    text-align: center;
}

header span {
    font-size: 40px;
    font-weight: 900;
    font-family: "BebasNeue", sans-serif;
    color: #e3e3e3;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.holder{
    
    width: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-content {
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    
    
}

.controller {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
   
}
.buttons{
    width: 520px;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
 
}
.output{
    width: 520px;
    height: auto;
    border-top: 1px solid #f76969e1;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
}

/*---------------------------------------------------------*/

/* table */

.table {
    width: 360px;
    background-color: #e3e3e31a;
    font-size: 16px;
    color: #e3e3e3f3;
    border: none;
    
}

.input .table td {
    height: 10px;
    color: #e3e3e3f3;
    text-align: center;
}
.input .table th {
    height: 10px;
    text-align: center
    
}
.table input {
    width: 60px;
    color: #e3e3e3f3;
    background-color: transparent;
    padding-left: 5px;
    border: none;
}

/*--------------------------------------------------------------------*/

/* buttons styles */
 .add {
    background-color:   #903749;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 8%;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: #e3e3e3;
    line-height: -5; 
    margin-right: 5px;
}

 .submit {
    background-color:   #903749;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: #e3e3e3;
    line-height: -5;
    
}


.delete--btn {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #e3e3e3f3;
    border-radius: 10%;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    display: none;
}

.delete--btn img {
    width: 8px;
    height: 8px;
    display: block;
    text-align: center;
    margin: auto;
    
}

tr:hover .delete--btn {
    display: inline;
}

.delete--btn:active,
.add:active,
.submit:active,
.play:active,
.pause:active,
.stop:active {
    transform: translateY(2px);
}
.timer {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
}

.timer label {
    width: 40px;
    height: 100%;
    border: 1px solid #e3e3e31c;
    color: #e3e3e3f3;
    background-color: #e3e3e31a;
    text-align: center;
    font-weight: 700;
    padding-top: 4px;
    
}

.timer .play
 {
    width: 30px;
    height: 100%;
    background-color:   #903749;
    color: #e3e3e3;
    border: none;
    padding: 0%;
    cursor: pointer;
}

.timer .stop {
    width: 30px;
    height: 100%;
    background-color:   #903749;
    color: #e3e3e3;
    border: none;
    padding: 0%;
    cursor: pointer;
}

.timer .pause {
    width: 30px;
    height: 100%;
    background-color:   #903749;
    color: #e3e3e3;
    border: none;
    padding: 0%;
    cursor: pointer;
}
.timer .play, .pause {
    border-right: 1px solid #e3e3e31c;
    border-left: 1px solid #e3e3e31c;
}

.timer img {
    fill: #fff;
    width: 14px;
    margin-bottom: 5px;
}

.type select {
    
    width: 100px;
    height: 30px;
    background-color: #e3e3e31a;
    color: #e3e3e3f3;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
}

/*---------------------------------------*/

.time{
    display: flex;
    height: 40px;
    width: 520px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-around;
   
}
.chart{
   
    height: 40px;
    width: 520px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
      
}

.time span{
    color:#e3e3e3; 
    font-weight:600;
}
.time label{
    color: #e3e3e3;
}

.chart .process{
    width: 100px;
    height: 45px;
    padding: 0;
    display: flex;
    flex-direction: column;
    ;
    
}
.chart .process span{
    height: 15px;
    margin: 2px 0;
    border-left: 3px solid cornsilk;
}
.chart .process label{
    height: 10px;
   color: #e3e3e3;

}

.red{
    background-color:#903749;
}
.yellow{
    background-color: #928a97
}
.blue{
    background-color: #9ba6a5;
}
.green{
    background-color:#29a19c;
}